// 主色
$themeColor: var(--themeColor, rgb(2, 142, 123));
// 副色1
$themeColor1: var(--themeColor1, rgb(222, 254, 236));
// 副色2
$themeColor2: var(--themeColor2, rgb(71, 182, 167));
// 副色3
$themeColor3: var(--themeColor2, rgb(34, 97, 91));

// 背景色
$backgroundColor: var(--backgroundColor, rgb(228, 245, 241));

$hoverColor: var(--themeColor2, rgb(163, 228, 192));