@import '../../../../../styles/base.scss'; 
@import '../../../../../styles/common.scss'; 

.todoContent {
	width: 600px;
	background-color: $themeColor1;
	border: 1px solid $themeColor2;
	border-radius: 10px;
	position: relative;
	.toolBar {
		position: absolute;
		display: flex;
		height: 40px;
		width: 100%;
		justify-content: space-around;
		align-items: center;
		background-color: $themeColor2;
		color: #fff;
		font-size: 18px;
		font-weight: 700;
		border: 1px solid $themeColor2;
		box-shadow: 0px 2px 4px $themeColor3;
		z-index: 10;
		:global {
			.ant-select-selector {
				background-color: transparent!important;
				border: 1px solid #fff!important;
			}
			.ant-select-selection-item {
				color: #fff;
				font-size: 16px;
				font-weight: 700;
				font-family: 'kaiti';
			}
			.ant-picker-outlined {
				background-color: transparent;
				border: 1px solid #fff!important;
			}
			.ant-picker-input {
				color: #fff;
				font-family: 'kaiti';
				font-weight: 600;
				input {
					&::placeholder {
						color: #fff;
					}
				}
			}
			.ant-select-arrow,
			.anticon-swap-right,
			.ant-picker-suffix {
				color: #fff;
			}
			.ant-picker-active-bar {
				background-color: $themeColor;
			}
			
		}
	}
	.addBar {
		position: absolute;
		bottom: 0;
		display: flex;
		height: 50px;
		justify-content: space-around;
		align-items: center;
		width: 100%;
		background-color: $themeColor2;
		box-shadow: 0px -2px 4px $themeColor3;
		z-index: 10;
		.addTodoBox {
			box-sizing: border-box;
			width: 80%;
			height: 40px;
			background-color: $themeColor1;
			font-size: 18px;
			color: $themeColor;
			border-radius: 10px;
			display: flex;
			align-items: center;
			padding: 10px;
			@extend .innerShadow;
			input {
				border: none;            
        background: transparent; 
        outline: none;          
        width: 100%;          
        height: 30px;          
        font-size: 16px; 
				font-weight: 700;
				font-family: 'kaiti';      
        padding: 0;
				margin-left: 10px;
			}
		}
	}
	.content {
		position: relative;
		top: 40px;
		height: calc(100% - 90px);
		display: flex;
		align-items: stretch;
		overflow: auto;
		width: 600px;
		&::-webkit-scrollbar-thumb {
			background-color: none;
		}
		&::-webkit-scrollbar {
			width: 0;
		}
		.todoListBox {
			padding: 10px;
			box-sizing: border-box;
			display: flex;
			flex-direction: column;
			width: 537px;
			background-color: #fff;
			min-height: 100%;
		}
		.belt {
		  width: 20px;
		  position: absolute;
		  top: 0;
		  left: calc(100% - 63px);
		  background: 
		    linear-gradient(white, white) 0 0 / 7px 8px no-repeat repeat,
		    linear-gradient(-10deg, transparent 80%, white 81%) 0 0 / 12px 8px no-repeat repeat,
		    linear-gradient(10deg, white 20%, transparent 21%) 0 0 / 12px 8px no-repeat repeat;
		  filter: drop-shadow(0 0 6px hsl(0, 0%, 50%));	
		  clip-path: inset(0 -200% 0 0);
			min-height: 100%;
		  z-index: 2;
		}
		.gears {
		  color: $themeColor;
		  position: fixed;
		  top: 100px;
		  right: 18px;
		  width: 50px;
		  z-index: 2;
		  filter: drop-shadow(0 1px 2px hsl(0, 0%, 50%));
		
		  svg:first-of-type {
		    width: 96%;
		    position: absolute;
		    left: 100%;
		    translate: -80% -22%;
		  }
		
		  svg:last-of-type {
		    width: 66%;
		    translate: 16% 102%;
		    position: absolute;
		    top: 0;
		    left: 0;
		  }
		}
	}
}

.todoList {
	display: flex;
	box-sizing: border-box;
	flex-direction: column;
  background: #FFF;
	font-family: 'stxingkai'; 
  font-size: 16px;
  max-width: 500px;
  margin: auto;
  padding: 5px 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
	transition: all 0.2s ease;
	margin-bottom: 10px;
}

.todo {
  display: block;
  position: relative;
  padding: 5px 5px 5px 40px;
	width: 200px;
  margin: 0 auto;
  cursor: pointer; 
}

.todoState {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.todoText {
	width: 200px;
	word-wrap: break-word;
  color: mix(#1B4A4E, #000, 15%);
  transition: all 0.4s linear 0.4s;
}

.todoIcon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: auto;
  margin: auto;
  
  fill: none;
  stroke: #27FDC7;
  stroke-width: 2;
  stroke-linejoin: round;
  stroke-linecap: round;
}


.todoLine,
.todoBox,
.todoCheck {
  transition: stroke-dashoffset 0.8s cubic-bezier(.9,.0,.5,1);
}


.todoCircle {
  stroke: #27FDC7;
  stroke-dasharray: 1 6;
  stroke-width: 0;
  
  transform-origin: 13.5px 12.5px;
  transform: scale(0.4) rotate(0deg);
  animation: none 0.8s linear; 
  
  @keyframes explode {
    30% { 
      stroke-width: 3;
      stroke-opacity: 1;
      transform: scale(0.8) rotate(40deg);
    }
    100% { 
      stroke-width: 0;
      stroke-opacity: 0;
      transform: scale(1.1) rotate(60deg);
    }
  }
}

.todoBox { 
  stroke-dasharray: 56.1053, 56.1053; 
	stroke-dashoffset: 0;
  transition-delay: 0.8s * 0.2; 
}
.todoCheck {
  stroke: #27FDC7;
  stroke-dasharray: 9.8995, 9.8995; 
	stroke-dashoffset: 9.8995;
  transition-duration: 0.8s * 0.4; 
}
.todoLine {
  stroke-dasharray: 168, 1684; 
  stroke-dashoffset: 168;
}
.todoCircle { 
  animation-delay: 0.8s * 0.7; 
  animation-duration: 0.8s * 0.7; 
}

.todoState:checked {
  
  ~ .todoText { transition-delay: 0s; color: #5EBEC1; opacity: 0.6; }
  
  ~ .todoIcon .todoBox { stroke-dashoffset: 56.1053; transition-delay: 0s; }
  ~ .todoIcon .todoLine { stroke-dashoffset: -8; }
  ~ .todoIcon .todoCheck { stroke-dashoffset: 0; transition-delay: 0.8s * 0.6; }
  ~ .todoIcon .todoCircle { animation-name: explode; }
  
}

.todoOpen {
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: $themeColor2;
	cursor: pointer;
	transition: transform 0.3s ease;
}

.totate {
	transform: rotate(180deg);
}

.todoItemBox {
	display: flex;
	border-bottom: 1px dashed $themeColor2;
	align-items: center;
	position: relative;
	justify-content: flex-start;
	&:hover {
		.operation {
			opacity: 1;
		}
	}
	&:last-child {
		border-bottom: none;
	}
	.operation {
		width: 150px;
		display: flex;
		opacity: 0;
		align-items: center;
		transition: all .6s ease;
		cursor: pointer;
		.operationItem {
			width: 30px;
			height: 100%;
			color: $themeColor;
			position: relative;
			font-size: 20px;
		}
	}
	.addbtn {
		position: absolute;
		width: 20px;
		height: 20px;
		border-radius: 10px;
		font-size: 16px;
		color: $themeColor;
		text-align: center;
		right: 0;
		cursor: pointer;
		z-index: 20;
		svg {
			margin-top: 2px;
		}
		&:hover {
			background-color: $themeColor;
			color: #fff;
		}
	}
}

[data-remark]:hover::after {
	content: attr(data-remark);
	display: inline-block;
	position: absolute;
	top: 110%;
	left: 50%;
	transform: translateX(-50%);
	background-color: $themeColor;
	color: white;
	width: auto;
	width: 100px;
  white-space: normal;
  word-wrap: break-word;
	padding: 5px 8px;
	border-radius: 5px;
	font-size: 16px;
}